body {
}

.app-container {
    margin-top: 20px;
}

.app-container input[name="radix"] {
    width: 120px !important;
}

.app-container input[name="decimalNumber"] {
    width: 250px !important;
}

.app-container .answer {
    background-color: lightgrey;
    font-size: 60px;
    /* font-weight: bold; */
    font-family: "Courier New", Courier, monospace;
    width: fit-content;
    border: 1px solid black;
    padding: 0.6em 0.5em 0.5em 0.5em;
    border-radius: 4px;
    margin: 40px 0;
}

.app-container .table {
    margin-top: 40px;
}

.app-version {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 6px 10px;
    font-size: 12px;
    color: #888;
}
